body {
	background-image: url('../css/ChessHomePage.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.mofo_padd {
	padding-bottom: 0px !important;
}

.modal {
	margin-top: 10em;
}

.fa-10 {
	font-size: 10em;
}

#curMovePlay {
	overflow-y: auto;
}

canvas {
	border: 1px solid black;
}

@media screen and (max-width: 768px) {
	canvas {
		width: 547.5px;
		height: 547.5px;
	}
	#curMovePlay {
		height: 506.5px;
	}
}

@media screen and (min-width: 768px) {
	canvas {
		width: 720px;
		height: 720px;
	}
	#curMovePlay {
		height: 679px;
	}
}

@media screen and (min-width: 992px) {
	canvas {
		width: 712.5px;
		height: 712.5px;
	}
	#curMovePlay {
		height: 671.5px;
	}
}

@media screen and (min-width: 1200px) {
	canvas {
		width: 846px;
		height: 846px;
	}
	#curMovePlay {
		height: 805px;
	}
}

@media screen and (max-height: 768px) {
	canvas {
		width: 547.5px;
		height: 547.5px;
	}
	#curMovePlay {
		height: 506.5px;
	}
}